.viewSection {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  padding: 21px 12px;
  .slide {
    vertical-align: middle;
    span {
      align-self: center;
    }
  }
  .today {
    width: 66px;
    height: 36px;
    // margin: 6px 16px 21px 12px;
    padding: 9px 14px;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2),
      0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
    background-color: #ffffff;
    border: none;
    margin: 0;
  }
  .prev,
  .next {
    background-color: #ffffff;
    border: none;
    width: 24px;
    height: 24px;
    object-fit: contain;
    display: inline-flex;
    vertical-align: middle;
    justify-content: center;
    span {
      color: #264554;
      opacity: 0.8;
    }
  }
}
.flex {
  display: flex;
}
.view {
  display: flex;
  align-self: center;
  border-radius: 3.2px;
  border: solid 0.8px rgba(38, 69, 84, 0.1);
  margin-left: 32px;
  button {
    margin: 0;
    background-color: #ffffff;
  }
  .month {
    width: 67px;
    height: 32px;
    padding: 8px 0;
    border: none;
    border-right: solid 0.8px rgba(38, 69, 84, 0.1);
  }
  .week {
    width: 53px;
    height: 32px;
    padding: 8px 0;
    border: none;
  }
  .active {
    background-color: #fafafa;
  }
}
button {
  margin: 5px;
  cursor: pointer;
}
.label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.section {
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 0 5px;
}
.mat-icon {
  position: relative;
  left: 20px;
}
